.blog{
  z-index: 500;
    color: white;
    p{
      text-align: justify;
    }
}
.text-muted{
    color: #ffffff77 !important;
}
.full-blog {
    color: #dedede;
    .blog-header {
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
  
      .blog-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 10px;
      }
  
      .blog-publish-time {
        font-size: 0.9rem;
        color: #777;
        margin-bottom: 15px;
      }
  
      .blog-image {
        min-width: 300px;
        max-width: 500px;
        min-height: 300px;
        max-height: 500px;
        margin: 20px auto;
        border-radius: 10px;
        display: block;
      }
  
      .blog-description {
        font-size: 1.2rem;
        color: #555;
        margin-top: 15px;
      }
    }
  
    .blog-content {
      margin: 40px 0;
  
      .blog-paragraph {
        font-size: 1rem;
        margin-bottom: 20px;
      }
  
      .blog-heading {
        font-size: 1.8rem;
        color: #ffffff;
        margin: 30px 0 15px;
      }
  
      .blog-list {
        list-style-type: disc;
        margin-left: 40px;
        margin-bottom: 20px;
  
        li {
          font-size: 1rem;
          margin-bottom: 8px;
        }
      }
  
      .blog-link {
        margin: 20px 0;
      }
    }
  
    .social-sharing {
      text-align: center;
      margin-top: 40px;
  
      h4 {
        font-size: 1.2rem;
        margin-bottom: 15px;
      }
  
      .share-btn {
        padding: 10px 20px;
        border: none;
        font-size: 1rem;
        color: #fff;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        transition: opacity 0.3s;
  
        &.twitter {
          background-color: #1da1f2;
        }
  
        &.facebook {
          background-color: #3b5998;
        }
  
        &.linkedin {
          background-color: #0077b5;
        }
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  
    .comments-section {
      margin-top: 50px;
  
      h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
  
      .comment-input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
      }
  
      .submit-comment-btn {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: coral;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: darkred;
        }
      }
    }
  }
  
.single-blog-page{
  p , ol , ul{
    font-size: 18px;
    line-height: 1.8;
  }
  li {
    line-height: 2.1;
  }
}