#projects{
    .projects-section{
    text-align: start;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    }

  .card-grid{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 200px 200px 200px 200px 200px 200px 120px 200px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
  }
  .card-shadow {
    box-shadow: 0 .8rem 1.4rem rgba(91, 125, 124, 0.15);
    border-radius: 25px;
  }
/*
  "Yomo",
  "Recipidea",
  "goMacros", 
  "ClubXtreme",
  "pharmaIQ",
  "Immerse",
  "Gericht",
  "ByteBurst",
  "MyWeather", 
  "ChatBot"
*/
#Yomo {
  grid-column: span 4;
  grid-row: span 4;
}

#ChatBot {
  grid-column: span 3;
  grid-row: span 3;
}

#ClubXtreme {
  grid-column: span 8;
  grid-row: span 3;
}

#MyWeather {
  grid-column: span 5;
  grid-row: span 3;
}

#ByteBurst {
  grid-column: span 4;
  grid-row: span 2;
}

#Gericht {
  grid-column: span 4;
  grid-row: span 2;
}

#Recipidea {
  grid-column: span 4;
  grid-row: span 2;
}

#goMacros {
  grid-column: span 4;
  grid-row: span 2;
}

#Immerse {
  grid-column: span 8;
  grid-row: span 3;
  max-height: 450px;
}

#pharmaIQ {
  grid-column: span 8;
  grid-row: span 3;
  max-height: 450px;
}
  @media(max-width:599px){
    .card-grid{
      display: block;
      gap: 5px;
      padding: 5px;
    }
  }
  @media screen and (min-width:600px) and (max-width:900px){
    .card-grid{
      grid-template-rows: 150px 150px 150px 150px 300px 150px 150px 150px 150px;
    }
    #E-com {
      grid-column: span 5;
      grid-row: span 2;
    }
    #chatBot {
      grid-column: span 3;
      grid-row: span 2;
    }
    #Orders-manag{
      grid-column: span 3;
      grid-row: span 1;
    }
    #Weather{
      grid-column: span 5;
      grid-row: span 1;
    }
    #News {
      grid-column: span 8;
      grid-row: span 2;
    }
    #immerse{
      grid-column: span 8;
      grid-row: span 2;
    }
    #pharmaIQ{
      grid-column: span 8;
      grid-row: span 2;
    }
  }

  
  .card{
    margin:10px;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 30px;
    --bs-card-bg: inherit !important;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 110%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-color: transparent;
    border-radius: 30px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background ,
   .card-grid:hover > .card:not(:hover) .card__heading ,
    .card-grid:hover > .card:not(:hover) .card__heading-helper ,
     .card-grid:hover > .card:not(:hover) .card_link ,
   .card-grid:hover > .card:not(:hover) .card__category {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(30px);
    border-color: transparent;
  }
  
  .card__content{
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
  }

  

  .card__category{
    color: var(--text-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  .card__heading-helper{
    color: var(--text-lighter);
    font-size: 0.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    /*word-spacing: 100vw;*/
  }
.card{
    border: 0px;
    a{
      color: inherit;
    }
}
.arrow-icon {
  transition: transform 0.3s ease-in-out;
  border: 1px solid black;
  font-size: 35px;
  border-radius: 50%;
}

a:hover .arrow-icon {
  transform: translateX(5px); /* Move the arrow to the right on hover */
}
.card_link{
  margin-right: 10px;
  display: inline-block;
  font-size: 35px;
}
.card_link i{
  color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);

}
/* GitHub Icon Animation */
.github-icon {
  font-size: 35px; /* Adjust size as needed */
  color: #333; /* Default color */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.tech-stack-item{
  padding: 6px 10px;
  border-radius: 7px;
  background-color: #000000b6;
  color: white;
  margin-right: 5px;
}
a:hover .github-icon {
  transform: scale(1.2); /* Scale up on hover */
  color: #6e5494; /* GitHub's brand color */
}
@media (max-width:800px){
  .card_link{
    font-size: 15px;
  }
}

.card_link-icon{
  color: #3a3a3d;
}
.card_link:hover{
  color: #3b354b;
}
.card_link-icon:hover{
  color: #3b354b;
}

.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0.6) contrast(1.2) blur(10px);
    border-color: transparent;
    border: none;
    box-shadow: none;
  }




  /* SCSS styles */
.section-animation {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.card__content {
  padding: 20px;
}

}